*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}
header{
    background-image: url(HEADER.png);
    background-repeat:repeat-x;
    background-size:cover;
    min-width: 100%;
    height: 600px;
    position: relative;
}
.wrap1{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    min-width: 800px;
    min-height: 510px;
    top: 90px;
    left: 100px;
   position: absolute;
}

.wrapChald{
    width: auto;
}
.wrapChald:nth-child(1){
    margin-left: 200px;
    width: 500px;
    margin-right: 320px;
}
.wrapChald:nth-child(2){
    width: 434px;
    margin-top: 10px;
}
.wrapChald>div>p{
    font-size: 24px;
    font-family:auto;
    color:white;
    font-weight: 900;
}
.wrapChald>div>h1{
    font-size: 72px;
    font-family: Ravie;
    color:white;
    margin-bottom: 30px;
    font-weight: 300;
    font-style: unset;
}


.iconk{
    display: flex;
    height: 120px;
    align-items: flex-end;
}
.iconk>div{
    margin-left: 10px;
    margin-top: 20px;
   
    border-radius:100%;
    width: 30px;
    height: 30px;
    padding: 20px;
}
.crew{
    background-image: url(картинки/Без-имени-1.png);
   width: 100%;
   background-repeat: no-repeat;
}

.iconn:nth-child(1){
    background-image: url(картинки/Без-имени-2.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.527);
    background-position: center;
}
.iconn:nth-child(2){
    background-image: url(картинки/Без-имени-3.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.527);
    background-position: center;
}
.iconn:nth-child(3){
    background-image: url(картинки/Без-имени-4.png);
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.527);
    background-position: center;
}
.iconn:hover{
    background-color: rgb(14, 13, 13);
}
.main{
    width: 100%;
    height: 740px;
    
}
.inter{
    text-align: center;
}
.inter>p{
    font-size: 16px;
    color: #8e8e8e;
}
.inter>h3{
 font-size: 30px;
 margin-top: 30px;
 margin-bottom: 20px;
}
.main_inter{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
   margin-left: 200px;
}
.main_inter>div{
     text-align: center;
    flex-basis:550px;
    margin-bottom: auto;
}
.main_inter>div:hover{
 background-color: rgba(128, 128, 128, 0.26);
   
}
.main_inter>div:nth-child(1){
   border-bottom: 4px solid #e5e5e5;
   border-right: 4px solid #e5e5e5;
}
.main_inter>div:nth-child(2){
    border-bottom: 4px solid #e5e5e5;
    border-right: 4px solid #e5e5e5;
 }
 .main_inter>div:nth-child(3){
    border-bottom: 4px solid #e5e5e5;
 }
 .main_inter>div:nth-child(4){
    
    border-right: 4px solid #e5e5e5;
 }
 .main_inter>div:nth-child(5){
    
    border-right: 4px solid #e5e5e5;
 }


.main_inter>div>img{
    margin:20px
}
.main_inter>div>h3{
    margin-bottom:20px;
    font-size:24px;
}
.main_inter>div>p{
    margin-bottom:20px;
    font-size: 16px;
}
.main2{
    background-color: #e7e7e7;
    height: 430px;
    display: flex;
    justify-content:space-evenly;
}
.main_one{
    
    margin-top: 80px;
}
.main_one:nth-child(2){
    background-image: url(картинки/video.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    width: 600px;
    border-radius: 19px;
    margin-bottom: 30px;
}
.main_one>h3{
  font-size:30px;
  margin-bottom:30px
  
}
.main_one>p{
    font-size:16px;
   
    color:#b0b0b0;
  }
.main_one>p:nth-child(2){
    
    margin-bottom:30px;
  
  }
  .spic{
      margin-top: 30px;
      list-style-image:url(картинки/r3.png);
      margin-left: 50px;
      color:#b0b0b0 ;
  }

  .main3{
      margin-top: 50px;
      height: 300px;
      text-align: center;
  }
  .main3>p{
    font-size: 24px;
    color:#a1a1a1;
}
.main3>span{
    display: block;
    color:#222;
    font-weight: 600;
    margin-top: 30px;
    font-size: 18px;
    
}
.main4{
    
    background-color: #e7e7e7;
    height:590px;
}
.main4>div>h3{
  
    text-align:center;
    font-size:30px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;

}
.main4>div>p{
    text-align:center;
    color: #848484;
}
.del>div{
    width:300px;
    text-align: center;
    background-color: #fff;
    border-right: 5px solid  #e7e7e7;
    
}
.del>div>h5{
    background-color: #3498db;
    color: white;
    font-size:28px;
    text-align:center;
    padding:10px;
    font-weight: 500;
}
.cem{
    font-size:42px;
    font-weight: 700;
    color: #000;
}
.cem>sup{
    font-size:24px;
    
}
.Feature>p{
    color: #8f8c8c;
    padding: 10px;
}
.flotFea{
    background-color: #3498db;
    padding: 20px;
}
.flotFea>button{
   width: 150px;
   background-color: #0d74b9;
   border: none;
   padding: 14px;
   font-size: 15px;
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
}
.vces{
    display: flex;
    margin-left: 350px;
    margin-top: 50px;
}
.del:nth-child(3){
    margin-top: -20px;
    margin-bottom: 60px;
}
.main5{
   
    margin-top: 80px;
    margin-bottom:50px;
    text-align: center;
}
.main5>h5{
    font-size:30px;
    margin-top: 40px;
    font-family: Myriad Pro;
}
.main5>p{
    font-size:16px;
    margin-top:20px;
    margin-bottom:25px
}
.main5>div>img:hover{
    background-color: rgb(5, 12, 32);
    border-radius: 100%;
}
.footer{
    background-color: #e3e3e3;
    height: 130px;
    text-align: center;
    /* display: inline; */
}
.footer>ul{
   
    
    
    list-style-type: none;
    padding-top: 60px;
    top: 90px;
    text-align: center;
}
.footer>ul>li{
  display: inline;  margin-left: 30px; ;
}
@media  (max-width : 1878px){
    .main2{
      margin-top: 70px;
    }
    .main_inter{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
       margin-left: 360px;
       
    }
    .main_inter>div:nth-child(1){
        border-right:4px solid #e5e5e5;
        border-bottom:4px solid #e5e5e5;
        
     }
     .main_inter>div:nth-child(2){
         border-bottom: 4px solid #e5e5e5;
         border-right: none;
      }
      .main_inter>div:nth-child(3){
        border-right: 4px solid #e5e5e5;
         border-bottom: 4px solid #e5e5e5;
      }
      .main_inter>div:nth-child(4){
         border-bottom: 4px solid #e5e5e5;
         border-right: none;
      }
      .main_inter>div:nth-child(5){
        border-bottom: none;
         border-right: 4px solid #e5e5e5;
      }
     
       
}
@media (max-width:1760px){
    .main_inter{
       margin-left: 300px;
    }
    .vces{
        display: flex;
        margin-left: 230px;
        margin-top: 50px;
    }
}
@media (max-width:1600px){
    .main_inter{
       
       margin-left: 250px;
       
    }
    .wrap1{
        height: 400px;
        min-width: 800px;
        top: 90px;
        left: 50px;
       position: absolute;
    }
    
}
@media (max-width:1500px){
    .wrap1{
        height: 400px;
        min-width: 800px;
        top: 90px;
        left: -160px;
       position: absolute;
    }
    .vces{
        
        margin-left: 70px;
        margin-top: 50px;
    }
    .main_inter{
       
        margin-left: 250px;
        margin-bottom: 30px;
        
     }
}
@media(max-width:1400px){
    .vces{
        
        margin-left: 20px;
        margin-top: 50px;
    }
    .main2{
        margin-top: auto;
    }
    .main{
        height: 1700px;
    }
    .main_inter>div{
        flex-basis: 700px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
    .main_inter>div:nth-child(1){
        border-right: none;
        border-bottom:4px solid #e5e5e5;
        
     }
     .main_inter>div:nth-child(2){
         border-bottom: 4px solid #e5e5e5;
         border-right: none;
      }
      .main_inter>div:nth-child(3){
        border-right: none;
         border-bottom: 4px solid #e5e5e5;
      }
      .main_inter>div:nth-child(4){
         border-bottom: 4px solid #e5e5e5;
         border-right: none;
      }
      .main_inter>div:nth-child(5){
        border-bottom: 4px solid #e5e5e5;
        border-right: none;
      }
      .wrap1{
        height: 400px;
        min-width: 800px;
        top: 90px;
        left: -180px;
       position: absolute;
    }
     
}